:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #99cb33;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #d4d1d1;
    --darkmode: #1f1e1e;
    --darkmodePage: #0f0f0f;
    --hover: rgb(44, 43, 43);
    --border: rgb(56, 55, 55)
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html, body{
    height: 100%;
    background-color: var(--darkmodePage);
}

/*-----------parent Body-------------*/
.main {
    margin-left: 60px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%; /* Defoult same height as screen */
    background-color: var(--darkmodePage);
    padding: 20px 20px 0px;
}
/*----------- Directory Tracker -------------*/
.directory_tracker{
    display: flex;
}
.directory_tracker p{
    padding: 3px;
    color: var(--text-color);
}
.directory_tracker a{
    text-decoration: none;
    color: var(--text-color);
}

/*-----------Esg Factors-------------*/
.environmental{
    background-color: var(--darkmode);
    width: 100%;
    height: 350px;
    border-radius: 3px;
    padding: 5px 10px 1px;
    color: var(--text-color);
}
.environmental .sectioninfo{
    height: 290px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sectioninfo::-webkit-scrollbar {
    display: none;
}
.social{
    background-color: var(--darkmode);
    width: 100%;
    height: 350px;
    border-radius: 3px;
    padding: 5px 10px 1px;
    color: var(--text-color);
}

.social .sectioninfo{
    height: 290px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sectioninfo::-webkit-scrollbar {
    display: none;
}
.governance{
    background-color: var(--darkmode);
    width: 100%;
    height: 350px;
    border-radius: 3px;
    padding: 5px 10px 1px;
    color: var(--text-color);
}

.governance .sectioninfo{
    height: 290px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sectioninfo::-webkit-scrollbar {
    display: none;
}
.sectionContent{
    width: 100%;
    background-color: var(--darkmodePage);
    border-radius: 3px;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.sectionContent .sectionContents{
    display: grid;
    grid-template-rows: 20px;
}
/*----------*/
.sectioninfo div a{
    text-decoration: none;
    color: var(--text-color);
}

.sectionContent:hover{
    background-color: var(--darkmode);
}