:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #99cb33;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #d4d1d1;
    --darkmode: #1f1e1e;
    --darkmodePage: #0f0f0f;
    --hover: rgb(44, 43, 43);
    --border: rgb(56, 55, 55);
    --insideDiv: rgb(37, 36, 36);
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
*{
    font-family: monospace;
}


body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html, body{
    height: fit-content;
    background-color: var(--darkmodePage);
}

/*----------- Parent Body-------------*/
.ghg_supply_body {
    margin-left: 60px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%; /* Defoult same height as screen */
    background-color: var(--darkmodePage);
}
#ghg_header{
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkmodePage);
    width: 100%;
    padding: 20px 0px 10px;
    padding-right: 80px;

}

/*----------- Directory Tracker -------------*/
.directory_tracker{
    display: flex;
}
.directory_tracker p{
    padding: 3px;
    color: var(--text-color);
}
.directory_tracker a{
    text-decoration: none;
    color: var(--text-color);
}

/*----------- Directory Tracker -------------*/
.additional{
    display: flex;

}
.additional .bars{
    padding: 3px;
}
.bars p{
    padding: 0px 3px 0px;
    color: var(--text-color);
}
.additional .addChart{
    border: solid 1px var(--border);
}
.additional .drop-main{
    border: solid 1px var(--border);
    display: flex;
    cursor: pointer;
}
/*----------- Body Cover -------------*/

.visuals{
    padding: 5px;
    border-radius: 3px;
}
.scope{
    border-radius: 3px;
    height: 300px;
    border: solid 1px rgb(56, 55, 55);
}
.scope .visual{
    background-color: var(--insideDiv);
    border-radius: 3px;
    height: 100%;
}
.visual header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.visual header p{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}
.visualization{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.visualization p{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}
.description{
    border-radius: 3px;
    height: 100%;
    border: solid 1px rgb(56, 55, 55);
}
.visualDescription{
    background-color: var(--insideDiv);
    border-radius: 3px;
    height: 100%;
}
.visualDescription header p{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
}
.visualDescription main ul li{
    color: var(--text-color);
}
/*----------- GHG Text -------------*/
.ghg_description{
    display: flex;
    width: 100%;
    padding: 10px 0px 10px;
    text-align: center;
}
.ghg_descriptions{
    width: 100%;
    overflow: hidden;
    background-color: #99cb33;
    width: 100%;

}
.ghg_descriptions p{
    font-size: 10px;
    font-weight: 500;
    color: var(--text-color);
    padding: 3px;
}
.ghg_descriptions p i{
    transform: rotate(-90deg);
}
.ghg_descriptions label{
    position: relative;
    color: var(--text-color);
    display: block;
    font-size: 14px;
    cursor: pointer;
}
.ghg_descriptions label:after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    right: 15px;
    top: 20px;
    background: url(arrow.svg) no-repeat 0 0;
}
#data{
    max-height: 1px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.ghg_descriptions input:checked ~ #data{
    max-height: 300px;
    padding-bottom: 25px;
    background-color: #d4d1d1;
    opacity: 1;
    top: 0;
}
#data h1{
    margin-top: 10px;
    padding: 15px 15px 0px;
    color: #d4d1d1;
}
/*----------- GHG Text -------------*/
.scopeData{
    border-radius: 3px;  
    height: 300px;
    border: solid 1px rgb(56, 55, 55);
}
.showScope{
    background-color: var(--insideDiv);
    border-radius: 3px;
    height: 100%;
}

.showScope header p{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

/*----------- GHG Text -------------*/
.drop-main{
    position: relative;
}
.drop{
    display: none;
    position: absolute;
    top: 33px;
    cursor: pointer;
    z-index: 1;
    background-color: var(--darkmode);
    margin: 0;
    margin-left: -50px;
    padding: 0px 3px;

}
.drop-middle{

    display: none;
    position: absolute;
    top: 33px;
    cursor: pointer;
    z-index: 1;
    background-color: var(--insideDiv);
    margin: 0;
    padding: 0px 3px;

}
.drop::before, .drop::after{
    content: "";
    position: absolute;
    border: solid 10px transparent;
    border-top: 0;
    right: 0px;
    border-bottom-color: var(--darkmode);
    top: -10px;
}
.drop-middle::before, .drop-middle::after{
    content: "";
    position: absolute;
    border: solid 10px transparent;
    border-top: 0;
    right: 20px;
    border-bottom-color: var(--darkmode);
    top: -10px;
}
.drop p{
    display: flex;
    width: 100%;
    font-size: 12px;
}
.drop-middle p{
    display: flex;
    width: 100%;
    font-size: 12px;
}
.drop-middle p:hover{
    background-color: var(--darkmodePage);
}

.drop-main:hover .drop{
    display: block;
}
.drop-main:hover .drop-middle{
    display: block;
}
.drop-main p .fa-solid.fa-chevron-down{
    font-size: 10px;
}

.click-drop{
    position: absolute;
    display: none;
    background-color: var(--darkmode);
    right: 0;
    border: solid 1px var(--border);
    top: 33px;
    cursor: pointer;
    z-index: 1;
    margin-right: -15px;
}

.click-drop a{
    text-decoration: none;
}

/*----------- GHG Text -------------*/
.collapsible {
    background-color: var(--darkmodePage);
    color: var(--text-color);
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    overflow: hidden;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    margin-left: 0px;
    color: var(--text-color);
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }



  /*-------------------------------------------------------|
  |-----------------------scope filter---------------------|
  |-------------------------------------------------------*/

#scopeFilter{
    font-size: 0.5rem; 
    display:none; 
    align-items:center;
}
.scope .visual header:hover{
    background-color: var(--darkmode);
}
.scope .visual header p{
    cursor: pointer;
}
.scope .visual header:hover #scopeFilter{
    display: flex;
}

/*-------------------------dropdown------------------------*/
.scopeDropDown{
    border: solid 1px var(--border);
    padding: 3px 3px 3px;
    position: absolute;
    background-color: var(--darkmode);
    margin-left: 115px;
    margin-top: 20px;
    border-radius: 3px;
    display: none;
}
.scopeDropDown div{
    display: flex;
}
.scopeDropDown div:hover{
    background-color: var(--insideDiv);
}
.scopeDropDown div i{
    padding: 0px 3px; 
    font-size:0.8rem; 
    display:flex; 
    align-items:center;
    color: var(--text-color);
}
.scopeDropDown div a{
    text-decoration: none;
}
.scopeDropDown div p{
    font-size: 1rem;
}