@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #99cb33;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #d4d1d1;
    --darkmode: #1f1e1e;
    --darkmodePage: #0f0f0f;
    --hover: rgb(44, 43, 43);
    --border: rgb(56, 55, 55);
    --insideDiv: rgb(37, 36, 36);
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--darkmodePage);
}

/* ---------------- Navbar ---------------- */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 20px 30px 0px;
  transition: all 0.3s ease;
  background-color: #d4d1d1;
}
.navbar .logo{
    padding: 0px 20px;
    display: block;
    background-color: transparent;
}
.logo img{
    width: 60px;
    height: 60px;
    background-color: transparent;
}
.logo p{

    background-color: transparent;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    background-color: transparent;
}

.navbar ul li a{
    padding: 5px 10px;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    background-color: transparent;
}