:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #99cb33;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #d4d1d1;
    --darkmode: #1f1e1e;
    --darkmodePage: #0f0f0f;
    --hover: rgb(44, 43, 43);
    --border: rgb(56, 55, 55);
    --insideDiv: rgb(37, 36, 36);
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
    overflow: hidden;
    background-color: var(--darkmodePage);
}
.ball{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 40px;
}
.ball img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    z-index: 99999;
    background-color: var(--darkmodePage);
    animation: bounce 1s infinite;
}
@keyframes bounce{
    10%{
        width: 80px;
        height: 80px;
    }
    30%{
        height: 80px;
        width: 65px;
    }
    50%{
        height: 50px;
        width: 107px;
        transform: translateY(132px);
    }
    70%{
        height: 107px;
        width: 80px;
    }
    100%{
        transform: translateY(0px);
    }
}

.mycontainer{
    width: 77px;
    height: 50px;
}
.myShadow{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.shadows{
    background-color: var(--text-color);
    height: 10px;
    width: 65px;
    border-radius: 50%;
    position: relative;
    z-index: 9999;
    animation: shrink 1s infinite;
    bottom: 2px;
}

@keyframes shrink{

    
    50%{
        transform: scale(0.6);
    }


}


/* ------------- Load vanishing ----------------*/

.disappear{
    animation: vanish 1.3s forwards;
}

@keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}




@media screen and (min-height: 350px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(138px);
        }
    }
}

@media screen and (min-height: 360px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(142px);
        }
    }
}

@media screen and (min-height: 370px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(148px);
        }
    }
}

@media screen and (min-height: 380px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(152px);
        }
    }
}

@media screen and (min-height: 390px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(158px);
        }
    }
}

@media screen and (min-height: 400px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(162px);
        }
    }
}

@media screen and (min-height: 410px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(168px);
        }
    }
}

@media screen and (min-height: 420px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(174px);
        }
    }
}

@media screen and (min-height: 430px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(178px);
        }
    }
}

@media screen and (min-height: 440px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(182px);
        }
    }
}

@media screen and (min-height: 450px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(188px);
        }
    }
}

@media screen and (min-height: 460px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(192px);
        }
    }
}

@media screen and (min-height: 470px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(198px);
        }
    }
}

@media screen and (min-height: 480px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(204px);
        }
    }
}

@media screen and (min-height: 490px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(210px);
        }
    }
}

@media screen and (min-height: 500px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(214px);
        }
    }
}

@media screen and (min-height: 510px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(220px);
        }
    }
}

@media screen and (min-height: 520px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(224px);
        }
    }
}

@media screen and (min-height: 530px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(228px);
        }
    }
}

@media screen and (min-height: 540px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(232px);
        }
    }
}

@media screen and (min-height: 550px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(238px);
        }
    }
}

@media screen and (min-height: 560px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(244px);
        }
    }
}

@media screen and (min-height: 570px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(248px);
        }
    }
}

@media screen and (min-height: 580px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(252px);
        }
    }
}

@media screen and (min-height: 590px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(258px);
        }
    }
}

@media screen and (min-height: 600px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(262px);
        }
    }
}

@media screen and (min-height: 610px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(266px);
        }
    }
}

@media screen and (min-height: 620px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(270px);
        }
    }
}

@media screen and (min-height: 630px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(274px);
        }
    }
}

@media screen and (min-height: 640px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(278px);
        }
    }
}

@media screen and (min-height: 650px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(282px);
        }
    }
}

@media screen and (min-height: 660px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(288px);
        }
    }
}

@media screen and (min-height: 670px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(292px);
        }
    }
}

@media screen and (min-height: 680px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(296px);
        }
    }
}

@media screen and (min-height: 690px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(300px);
        }
    }
}

@media screen and (min-height: 700px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(304px);
        }
    }
}

@media screen and (min-height: 710px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(310px);
        }
    }
}

@media screen and (min-height: 720px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(316px);
        }
    }
}

@media screen and (min-height: 730px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(322px);
        }
    }
}
@media screen and (min-height: 740px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(328px);
        }
    }
}
@media screen and (min-height: 750px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(336px);
        }
    }
}
@media screen and (min-height: 760px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(342px);
        }
    }
}
@media screen and (min-height: 770px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(348px);
        }
    }
}
@media screen and (min-height: 780px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(354px);
        }
    }
}
@media screen and (min-height: 790px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(360px);
        }
    }
}
@media screen and (min-height: 800px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(366px);
        }
    }
}
@media screen and (min-height: 810px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(372px);
        }
    }
}
@media screen and (min-height: 820px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(378px);
        }
    }
}
@media screen and (min-height: 830px) {   
    @keyframes bounce{
            50%{
            height: 60px;
            width: 107px;
            transform: translateY(384px);
        }
    }
}

@media screen and (min-height: 840px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(386px);
}
}
}

@media screen and (min-height: 850px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(390px);
}
}
}

@media screen and (min-height: 860px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(394px);
}
}
}

@media screen and (min-height: 870px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(396px);
}
}
}

@media screen and (min-height: 880px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(400px);
}
}
}

@media screen and (min-height: 890px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(404px);
}
}
}

@media screen and (min-height: 900px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(408px);
}
}
}

@media screen and (min-height: 910px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(412px);
}
}
}

@media screen and (min-height: 920px) {   
    @keyframes bounce{
        50%{
            height: 60px;
            width: 107px;
            transform: translateY(416px);
        }
    }
    }

@media screen and (min-height: 930px) {   
    @keyframes bounce{
        50%{
            height: 60px;
            width: 107px;
            transform: translateY(420px);
        }
    }
    }

@media screen and (min-height: 940px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(430px);
}
}
}

@media screen and (min-height: 950px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(434px);
}
}
}

@media screen and (min-height: 960px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(440px);
}
}
}

@media screen and (min-height: 970px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(446px);
}
}
}

@media screen and (min-height: 980px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(450px);
}
}
}

@media screen and (min-height: 990px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(456px);
}
}
}

@media screen and (min-height: 1000px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(460px);
}
}
}

@media screen and (min-height: 1010px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(466px);
}
}
}

@media screen and (min-height: 1020px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(470px);
}
}
}

@media screen and (min-height: 1030px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(476px);
}
}
}

@media screen and (min-height: 1040px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(480px);
}
}
}

@media screen and (min-height: 1050px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(486px);
}
}
}

@media screen and (min-height: 1060px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(490px);
}
}
}

@media screen and (min-height: 1070px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(496px);
}
}
}

@media screen and (min-height: 1080px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(500px);
}
}
}

@media screen and (min-height: 1090px) {   
@keyframes bounce{
50%{
height: 60px;
width: 107px;
transform: translateY(506px);
}
}
}
      