body{
    background:linear-gradient(to bottom, aliceblue, darkorange);
    margin:0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
  }
  .wrapper {
    background: url(Anders.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 350px;
    box-shadow: 0 15px 20px 5px rgba(0,0,0,0.5);
}.wrappers {
  background: url(Kenny.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 350px;
  box-shadow: 0 15px 20px 5px rgba(0,0,0,0.5);
}.wrappers {
  background: url(roy.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 350px;
  box-shadow: 0 15px 20px 5px rgba(0,0,0,0.5);
}
  .box {
      background: #262626;
      width: 330px;
      padding: 10px;
      clip-path: circle(5% at 91% 7%);
      transition: all .5s ease-in-out;
      cursor: pointer;
      height: 500px;
  }
          .content {
      text-align: center;
      padding: 100px 15px;
  }
  .box:hover{
    clip-path:circle(75%);
    background:darkorange;
  }
  
  .box:hover span{
    color:rgba(255,255,255,0);
  }
  .box span {
      float: right;
      color: white;
      font-weight: bold;
      transition: color .5s;
      position: relative;
      margin-right: 4%;
      top: 18px;
  }
  
  .box h1{
    color:#fff;
  }
  .box p {
      color: #fff;
      font-size: 11px;
      text-align: justify;
      line-height: 2;
  }
          .social {
    text-align: center !important;
    margin-top: 25px;
  }
  .social i {
    font-size: 20px;
    margin: 0 15px;
  }
  